h1, h2 {
    font-family: 'Lobster', cursive;
    color: white;
}

p {
  font-family: 'Muli';
  // font-style: italic;
  font-weight: bold;
  color: white;
  // letter-spacing: 1px;
}

h3 {
    font-family: 'Muli';
}